.main {
    max-width: 880px;
    margin: 0 auto;
    border-top: 1px solid rgba(84, 84, 84, 0.7);
    padding: 40px 0 0;
}

@media screen and (max-width: 720px) {
    .main {
        padding: 40px 19px 0;
    }
}